<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>CARRITO</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>

<body>
</br>
	<div class="container">
		<h1>Lista de Compras</h1>
		
		<table class="table table-dark">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Producto</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th >001</th>
					<td >Arroz con Pollo</td>
					<td >20.0</td>
					<td>
						<a href="#" class="btn btn-primary">Pagar</a>
						</form>
					</td>

				</tr>
				
				<tr>
					<th >002</th>
					<td >Gaseosa</td>
					<td >8.0</td>
					<td>
						<a href="#" class="btn btn-primary">Pagar</a>
						</form>
					</td>

				</tr>
			</tbody>
		</table>
		
		
	
	    
    </div>
</body>

<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"
></script>

</html>